/* .heading{
    display: block;
    border: 1px solid blueviolet;
    width: 80%;
    padding: 2rem;
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 20px;
    
}

.scroll{
    
}
.allmentors{
    display: flex;
    overflow: scroll;
    margin-right: 10px;
    background-color: #f1f6fa;
     min-height: 200px;
    min-width: 200px;
    gap: 50px;

}
.mentor1{
    display: flex;
    flex-direction:column;
} */


.wrapper{
    border: 2px solid #f1f6fa;
    border-radius: 20px;
    width: 70% ;
    /* display: flex; */
    margin: auto;
    padding: 2rem ;
    max-width: 70%;
    margin-top: 100px;
    /* flex-direction: row; */

    
    /* vh vw */
}

.scroller{
    display: flex;
    overflow: scroll;
}
.scroller::-webkit-scrollbar {
    display: none;
}

.card{
    background-color: #f1f6fa;
    min-height: 200px;
    min-width: 200px;
    border-radius: 12px;
    margin-right: 2rem;
    /* display: block; */
}
