body{
    background: rgba(142, 221, 255, 0.822);
    }
    
    .todo-container{
    background: #282c34;
    border-radius: 100px;
    padding: 20px 10px;
    color: white;
    border: 3px solid wheat;
    width: 40vw;
    margin: 10em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    }
        
    .task{
    border: 1px solid wheat;
    border-radius: 15px;
    padding: 0.8em;
    margin: 0.8em;

    }
    
    .task button{
    background: blue;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: wheat;
    float: right;

    }
    
    .header{
    margin: 0.5em;
    font-size: 2rem;
    text-align: center;  
    }
    
    .create-task input{
    margin: 2em 2em;
    width: 80%;
    padding: 1.5em;
    border-radius: 10px;
    text-align: center;

    }